<% include partials/header %>
<div class="container">
  <div class="row">
  <% campground.forEach(function(campground){ %>
    <h1 style="text-align: center;">Add New Comment to <%= campground.name %> </h1>
    <div class="form" style="width: 30%; margin: 0 auto;">
      <form action="/campgrounds/<%= campground.id %>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Add comment" name="comment">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Author" name="author">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="Submit" name="button">Submit</button>
        </form>
        </div>
        <a href="/campgrounds">Back to Campgrounds</a>
    </div>
  <% }) %>
  </div>
</div>

<% include partials/footer %>
